@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@theme {
	--font-mono: "Space Mono", "monospace";
}

@utility quoted {
	&::after,
	&::before {
		content: '"';
	}
}

@utility trans {
	background: linear-gradient(
		to right,
		#55cdfc 20%,
		/* Light Blue */ #f7a3b6 20%,
		#f7a3b6 40%,
		/* Pink */ #ffffff 40%,
		#ffffff 60%,
		/* White */ #f7a3b6 60%,
		#f7a3b6 80%,
		/* Pink */ #55cdfc 80% /* Light Blue */
	);
}

@utility ring-trans {
	border-color: transparent;
	background: linear-gradient(currentColor, currentColor) padding-box,
		conic-gradient(
				from -45deg at 50% 50%,
				#67d4ea 10%,
				#fcb6b3 30%,
				#fff 50%,
				#fcb6b3 70%,
				#67d4ea 90%
			)
			border-box;
	background-size: contain;
}

@utility animate-ping-slow {
	animation: ping 1.6s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@utility text-glow-3xl {
	text-shadow: 0px 0px 80px var(--tw-shadow-color);
}

@utility text-glow-2xl {
	text-shadow: 0px 0px 60px var(--tw-shadow-color);
}

@utility text-glow-xl {
	text-shadow: 0px 0px 40px var(--tw-shadow-color);
}

@utility text-glow {
	text-shadow: 0px 0px 10px var(--tw-shadow-color);
}

@utility shadow-4xl {
	--tw-shadow: 0 0px 4000px 0px;
	box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
		var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}
