@import "tailwindcss";

@utility text-glow-3xl {
	text-shadow: 0px 0px 80px var(--tw-shadow-color);
}

@utility text-glow-2xl {
	text-shadow: 0px 0px 60px var(--tw-shadow-color);
}

@utility text-glow-xl {
	text-shadow: 0px 0px 40px var(--tw-shadow-color);
}

@utility text-glow {
	text-shadow: 0px 0px 10px var(--tw-shadow-color);
}

@utility shadow-4xl {
	--tw-shadow: 0 0px 4000px 0px;
	box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
		var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}
